*{
margin:0;
}
main{
    background-color: #100E1D;
    color:white;
    padding: 0;
    margin: 0;
    position: relative;

}

.principal_page{
    background-color: #1E213A;
    width: 35%;
    height: 1000px;

      
}

.botones_principal{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    
 }
 .btn1{
    background-color: gray;
    border: none;
    color:white;
    font-weight: bold;
    padding: 10px;
    
 }

 .btn2 {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: gray;
    color: white;
    border: none;
    
 }

 .img_de_temp{
    background-image: url(../public/Cloud-background.png) ;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 295px;
 }


 .img_de_temp::before{
    content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1e213ab9;
 }

 .img_de_temp > img{
   position: absolute;
   display: flex;
   margin-left: 155px;
   margin-top: 35px;
   z-index: 999;
 }

 .tempPrincipal{
   display: flex;
   justify-content: center;
   font-weight: bold;
 }

 .tempPrincipal > span{
   font-size: 120px;
   margin-top: 3rem;
   display: flex;
 }
 .tempPrincipal > span > p{
   font-size: 60px;
   display: flex;
   align-items: end;
   color: #88869D;
 }

 .prDescripcion{
   font-size: 30px;
   display: flex;
   justify-content: center;
   color: #88869D;
   margin-top: 5rem;
   font-weight: bold;
 }

 .fecha{
    font-size: 17px;
   display: flex;
   justify-content: center;
   color: #88869D;
   margin-top: 8rem;
   font-weight: bold;
 }

 .fecha > span{
   display: flex;
   gap:1rem;
 }

 .location{
   font-size: 17px;
   display: flex;
   justify-content: center;
   color: #88869D;
   margin-top: 2rem;
   font-weight: bold;
   
 }

 .location > span {
   display: flex;
   gap:0.4rem;
   color: #88869D;
 }

 .tempBtn{
   display: flex;
   margin-left: 77rem;
   margin-top: 2rem;
   margin-right: 2rem;
   gap: 1rem;
   position: absolute;
 }

 .tempBtn > button {
   border: none;
   border-radius: 35px;
   padding: 10px ;
   font-weight: bold;
 }

 .tempBtn button.active {
  background-color: #ff0000;
  color: #ffffff;
}

.week{
   display: flex;
   margin-left: 37rem;
   margin-top: 8rem;
   margin-right: 2rem;
   gap: 1rem;
   position: absolute;
   
   
}


.cardsweek{
   width:120px;
   height:180px;
   background-color: #1E213A;
}


.todays{
   display: flex;
   margin-left: 37rem;
   margin-top: 23rem;
   margin-right: 2rem;
   gap: 1rem;
   position: absolute;
}

.infoCards{
   display: flex;
   margin-left: 37rem;
   margin-top: 26rem;
   margin-right: 2rem;
   gap: 3rem;
   position: absolute;
}

.infoCards2{
   display: flex;
   margin-left: 37rem;
   margin-top: 40rem;
   margin-right: 2rem;
   gap: 3rem;
   position: absolute;
}


.info{
   width:300px;
   height:180px;
   background-color: #1E213A;
}
